VPS_HOST=103.75.184.67
VPS_PORT=24700
VPS_USER=root
VPS_PASSWORD=changeme
VPS_APP_DIR=/opt/new-workflow/new-workflow-nextjs
VPS_DEPLOY_ROOT=/opt/new-workflow
VPS_SERVICE=new-workflow.service
VPS_APP_PORT=3010
